= div_for comment do
	%ul.list.pl0.mt0.measure.center
		%li.flex.items-center.lh-copy.pa3.ph0-l.bb.b--black-10
			%img{:src => "#{comment.user.avatar.url}", :alt => "#{comment.user.username}", class: 'w2 h2 w3-ns h3-ns br-100'}/
			.flex-auto.pl3
				%span.f6.db.black-70= comment.user.username
