-# .ph7-l.sans-serif.mw9-l
.new-comment-panel
	= form_for([@post, @post.comments.build], local: true, remote: true) do |f|
		.mb4
			= f.trix_editor :body, placeholder: "Write a comment...", rows: 4, class: "w-100"
		.my-3
			= f.submit "Post comment", class: "button"
