input[type="text"],
input[type="email"],
input[type="password"]
	padding: .7rem
	border-radius: .25rem
	outline: 0
	border-width: 1px
	border-color: #e2e2e5
	appearance: none


.pt-sans
	font-family: "PT Sans", sans-serif